@import url(/site/reset/reset.css);

body{
    background-color: rgb(5, 5, 5);
    font-family: Josefin Sans, sans-serif;
    margin: 10px;
}

header{
    display: flex;
    width: 100%;
}

.header{
    display: flex;
    justify-content: left;
    gap: 15px;
    width: 30%;
    height: 40px;
}

.header-tabs{
    margin-left: 0;
    align-items: center;
    width: max-content;
    height: auto;
    font-size: medium;
    color: white;
    display: flex;
    width: max-content;;
    font-weight: 700;
}

.header-tabs:hover{
    color: aqua;
    font-size: large;
    transition: 0.2s;
}

.feed{
    display: grid;
    grid-template-columns: 25% 75%;
}

.title{
    color: white;
    display: flex;
    width: max-content;
}

.title:hover{
    color: aqua;
    transition: 0.2s;
}